<div id="toolbar-managelayers" class="m-control m-toolbar m-control-toolbar-managelayers">
	<!-- TOOLBARS BUTTONS -->
	<div id="toolbar-buttons-managelayers" class="m-toolbar-buttons m-toolbar-buttons-managelayers"></div>
	<!-- TITLE -->
	<div id="toolbar-title-managelayers" class="title">Gestión de capas</div>

	<div id="toolbar-containers-managelayers" class="m-toolbar-containers m-toolbar-containers-managelayers">
		<div id="m-waiting-result" class="dNone m-waiting-result g-cartografia-spinner"></div>
	</div>
</div>